* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(33, 33, 33);
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
    background-color: rgb(33, 33, 33);
    border-bottom: 1px solid orange;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
	
}

nav ul li a:hover {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
	border-bottom: 1px solid orange;
	position:relative;
	bottom: 0.5em;
	right: 0.5em;
}

section {
    padding: 20px;
    margin: 20px 0;
}

form {
    max-width: 600px;
    margin: 0 auto; 
    text-align: center; 
}

label {
    display: block; 
    margin-bottom: 10px; 
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; 
    border: 1px solid #ddd;
    border-radius: 0.3em;
}

input[type="checkbox"] {		
    margin-right: 10px;
}

button {
    padding: 15px 30px;
    background-color: #888888;
    color: #ffffff;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #9fee88;
    transition: 0.5s;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(33, 33, 33);
    border-top: 1px solid #ddd;
}

.day {
	margin-bottom: 2em;
}

.image-gallery {
    display: flex; 
    justify-content: flex-start; 
    flex-wrap: wrap; 
    gap: 0.5em; 
    padding: 10px;
	background-color: rgb(56, 56, 56);

}

.image-gallery img {
    width: 30%;
	flex-grow: 1;
    height: auto; 
    cursor: pointer;
    box-sizing: border-box;
	border-radius: 0.3em;
	filter: grayscale(60%);
}

.image-gallery img:hover {
	filter: grayscale(0%);
}

#schedule p {
	margin-bottom: 2em;
}

#schedule ul {
	list-style-type: none;
}

#about {
    text-align: center;
	background-color: rgb(24, 24, 24);
}



#register h2 {
    text-align: center;
}

#schedule {
    text-align: center;
	background-color: rgb(24, 24, 24);
}

#days {
    text-align: center;
	display: flex;
	flex-direction: row;
	margin-bottom: 3em;
	margin-top: 3em;
	height: 2.5em;
}

#food {
    text-align: center;
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 2.5em;
	margin-top: 1.5em;
}

#food label {
    display: block; 
}

h1, h2, h3 {
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	line-height: 1.4;
}

textarea {
	height: 5em;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: inherit;
	resize: none; 	 
}

@media (max-width: 768px) {
    .image-gallery img {
        width: 45%; 
        max-width: none; 
    }
}

@media (max-width: 480px) {
    .image-gallery img {
        width: 100%; 
    }
}

@media (min-width: 769px) {
    form {
        text-align: left; 
    }

	#about p {
		margin-left: 8em;
		margin-right: 8em;
	}
}
